.icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}

.icon-8 {
  width: calc(var(--base-font-size) / 2);
  height: calc(var(--base-font-size) / 2);
  display: inline-block;
  vertical-align: middle;
}

.icon-24 {
  width: var(--unit);
  height: var(--unit);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.icon-48 {
  width: var(--unit-xl);
  height: var(--unit-xl);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.icon-128 {
  width: calc(var(--unit) * 5);
  height: calc(var(--unit) * 5);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.icon-24-close {
  background-image: svg-load(
    './icons/24-close.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.btn-border:hover .icon-24-close {
  background-image: svg-load(
    './icons/24-close.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.icon-24-plus {
  background-image: svg-load(
    './icons/24-plus.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.btn-alt .icon-24-plus,
.btn-alt:hover .icon-24-plus,
.btn-border:hover .icon-24-plus {
  background-image: svg-load(
    './icons/24-plus.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.btn-alt .icon-24-minus,
.btn-alt:hover .icon-24-minus {
  background-image: svg-load(
    './icons/24-minus.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.btn-menubar .icon-24-dot {
  background-image: svg-load(
    './icons/24-dot.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.icon-24-dot.blink {
  animation: blinker 0.2s ease infinite;
}

@keyframes blinker {
  50% {
    background-image: svg-load('./icons/24-dot.svg', fill= 'white');
  }
}

.icon-128-map {
  background-image: svg-load(
    './icons/map-pin-2.svg',
    fill=none,
    stroke= '#00c8aa',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.icon-128-dashboard {
  background-image: svg-load(
    './icons/window-speedtest.svg',
    fill=none,
    stroke= '#00c8aa',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.icon-128-api {
  background-image: svg-load(
    './icons/cloud-setting.svg',
    fill=none,
    stroke= '#00c8aa',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.icon-128-user {
  background-image: svg-load(
    './icons/business-check.svg',
    fill=none,
    stroke= '#00c8aa',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.icon-128-ngo {
  background-image: svg-load(
    './icons/group-global.svg',
    fill=none,
    stroke= '#00c8aa',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}

.icon-128-business {
  background-image: svg-load(
    './icons/building-2.svg',
    fill=none,
    stroke= '#00c8aa',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-miterlimit=10,
    stroke-width=1px
  );
}
